{% extends 'base.html' %}
{% block content %}
<h1>Log in to Blogz!</h1>
<p>If you don't have an account, you may <a href="/signup">Sign Up</a> for one</p><br>
<form method = "post">
	<table>
		<tr>
			<td>
				<label for = "user_name">Username:</label>
			</td>
			<td>
				<input id = "user_name" name = "username" type = "text" value = "{{old_username}}">
				<span class = "error">{{username_error}}</span>
			</td>

		</tr>
		<tr>
			<td>
				<label for = "pass_word">Password:</label>
			</td>
			<td>
				<input id = "pass_word" name = "password" type = "password" value = "">
				<span class = "error">{{password_error}}</span>
			</td>
		</tr>
	</table>
	<input type = "submit" value = "Login">
</form>
{% endblock %}
